$color0: var(--nord0);
$color1: var(--nord1);
$color2: var(--nord2);
$color3: var(--nord3);
$color4: var(--nord4);
$color5: var(--nord5);
$color6: var(--nord6);
$color7: var(--nord7);
$color8: var(--nord8);
$color9: var(--nord9);
$color10: var(--nord10);
$color11: var(--nord11);
$color12: var(--nord12);
$color13: var(--nord13);
$color14: var(--nord14);
$color15: var(--nord15);
