@import './styles/reset.css';
@import './styles/nord.css';

body {
  color: var(--nord0);
  background-color: var(--nord4);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body.dark {
  color: var(--nord4);
  background-color: var(--nord0);
}

a {
  color: var(--nord8);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--nord8);
}
